body {
  margin: 0;
  padding: 0;
}

.link-text {
  text-decoration: none;
}

.mr-12 {
  margin-right: 12px;
}

.wrp-loading {
  width: 100%;
  text-align: center;
}

.wrp-toast {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mess-err {
  color: red;
  display: block;
  padding: 5px 0 10px 0;
  font-size: 16px;
}
